bin
obj
*.user
*.suo
App_Data
*.results.xml
/packages
*.xap
/.sass-cache
*.scssc
*.css.map
.vs/
gfdblive.bacpac
Docs/GFDataTrainingImputedNew.csv
Docs/GFDataTrainingImputedAll.csv
Docs/GFDataTestNew.csv
Docs/GolfForecastData.csv
Docs/XGBoostModels/Models.zip
gfdb2.bacpac
gfdb3.bacpac
gfdb.bacpac
GolfForecastDB.bacpac
Docs/How it works.mp4
GolfStatisticsWebsite/Content/json/graph4.json
GolfStatisticsWebsite/Content/json/graph3.json
GolfStatisticsWebsite/Content/json/graph2.json
GolfStatisticsWebsite/Content/json/graph1.json
GolfStatisticsWebsite/Content/json/resulttable.json
